/* COLORS SECTION */

section {
    border: 1px solid black; 
    margin-bottom: 20px;
}

.colors {
    border: 1px solid black;
    display: inline-block;
    padding: 5px; 
    text-align: center;
    margin: 5px;
}

.dark-charcoal {
    background-color: #333333;
}

.taupe-grey {
    background-color: #888888;
}

.x11-grey {
    background-color: #BBBBBB;
}

.bright-grey {
    background-color: #EEEEEE;
}


/* FONTS SECTION */

#bold {
    font-weight: bold;
}

#italic {
    font-style: italic;
}

.fonts {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

.sora {
    font-family: 'Sora', sans-serif;
}

.manrope {
    font-family: 'Manrope', sans-serif;
}

.jetbrains-mono {
    font-family: 'JetBrains Mono', monospace;
}

.epilogue {
    font-family: 'Epilogue', sans-serif;
}